html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    color: rgb 255 99 71;
    background-color: #cde4f9;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: 20px;
    font-weight: <weight>;
    font-style: normal;
    line-height: 1,4;
    margin: 0;
}

h1 {
    text-align: center;
    font-optical-sizing: 48px;
}

h2{
    font-optical-sizing: 32px; 
}

h1,
h2,
h3{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: <weight>;
    line-height: 1,2;
} 

.perex{
    font-style: italic;
    font-style: light;
    font-weight: <weight>;
    color: #808080;
    font-optical-sizing: 24px;
}

.autor{
    color: #dc6aa1;
    font-optical-sizing: 20px;
    margin-bottom: 20px;
}

div{
    text-align: center;
}

h3{
    color: #dc6aa1;
    font-optical-sizing: 24px;
    margin-top: 48px;

}

.foto-pariz {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    width: 300px;
}

.eiffelovka,
.obluk,
.louvre,
.montmartre {
    width: 32%;
    border-radius: 8px;
}

.eiffelovka,
.louvre {
    float: right;
}

.obluk,
.montmartre {
    float: left;
}

.zahrady {
    width: 100%;
    border-radius: 8px;
}

section {
    padding: 30px 50px;
    background-color:  #ffffff;
    margin: 20px;
    border-radius: 12px;
    width: 900px;
}

